IO_LOC  "#CLK25M"  B9;
IO_PORT "#CLK25M"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "BDT_OT[0]"  N7;
IO_PORT "BDT_OT[0]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "BDT_OT[9]"  N10;
IO_PORT "BDT_OT[9]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "BDT_OT[10]"  V12;
IO_PORT "BDT_OT[10]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "BDT_OT[11]"  P11;
IO_PORT "BDT_OT[11]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "BDT_OT[12]"  V14;
IO_PORT "BDT_OT[12]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "BDT_OT[13]"  T11;
IO_PORT "BDT_OT[13]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "BDT_OT[14]"  V16;
IO_PORT "BDT_OT[14]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "BDT_OT[15]"  E8;
IO_PORT "BDT_OT[15]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "BDT_OT[16]"  L4;
IO_PORT "BDT_OT[16]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "BDT_OT[17]"  L6;
IO_PORT "BDT_OT[17]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "BDT_OT[18]"  H6;
IO_PORT "BDT_OT[18]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "BDT_OT[1]"  T6;
IO_PORT "BDT_OT[1]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "BDT_OT[19]"  H5;
IO_PORT "BDT_OT[19]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "BDT_OT[20]"  F6;
IO_PORT "BDT_OT[20]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "BDT_OT[21]"  F3;
IO_PORT "BDT_OT[21]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "BDT_OT[22]"  C4;
IO_PORT "BDT_OT[22]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "BDT_OT[23]"  D3;
IO_PORT "BDT_OT[23]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "BDT_OT[24]"  B6;
IO_PORT "BDT_OT[24]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "BDT_OT[25]"  D6;
IO_PORT "BDT_OT[25]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "BDT_OT[26]"  A7;
IO_PORT "BDT_OT[26]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "BDT_OT[27]"  A9;
IO_PORT "BDT_OT[27]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "BDT_OT[28]"  H3;
IO_PORT "BDT_OT[28]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "BDT_OT[2]"  V5;
IO_PORT "BDT_OT[2]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "BDT_OT[29]"  C10;
IO_PORT "BDT_OT[29]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "BDT_OT[30]"  C11;
IO_PORT "BDT_OT[30]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "BDT_OT[31]"  D11;
IO_PORT "BDT_OT[31]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "BDT_OT[3]"  P8;
IO_PORT "BDT_OT[3]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "BDT_OT[4]"  V7;
IO_PORT "BDT_OT[4]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "BDT_OT[5]"  R8;
IO_PORT "BDT_OT[5]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "BDT_OT[6]"  V9;
IO_PORT "BDT_OT[6]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "BDT_OT[7]"  N9;
IO_PORT "BDT_OT[7]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "BDT_OT[8]"  U10;
IO_PORT "BDT_OT[8]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "RX_PF10U"  G9;
IO_PORT "RX_PF10U"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "SLVDRVIO"  D14;
IO_PORT "SLVDRVIO"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MS_DATA"  K3;
IO_PORT "MS_DATA"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MASTER"  A16;
IO_PORT "MASTER"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "IMCODE[0]"  A12;
IO_PORT "IMCODE[0]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "IMCODE[1]"  E13;
IO_PORT "IMCODE[1]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "CSN_PF6U"  F11;
IO_PORT "CSN_PF6U"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "IMCODE[2]"  A13;
IO_PORT "IMCODE[2]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "TX_PF8U"  B14;
IO_PORT "TX_PF8U"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "IMCODE[3]"  D4;
IO_PORT "IMCODE[3]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "TH2"  E12;
IO_PORT "TH2"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "TH1"  C12;
IO_PORT "TH1"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "ABE_OT[0]"  U1;
IO_PORT "ABE_OT[0]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "ABE_OT[1]"  T2;
IO_PORT "ABE_OT[1]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "ABE_OT[2]"  U2;
IO_PORT "ABE_OT[2]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "ABE_OT[3]"  R3;
IO_PORT "ABE_OT[3]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "DCLK"  T1;
IO_PORT "DCLK"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "ABE_OT[4]"  T3;
IO_PORT "ABE_OT[4]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "LAT"  P2;
IO_PORT "LAT"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "GCLK"  T4;
IO_PORT "GCLK"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "CNT_RX"  B3;
IO_PORT "CNT_RX"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "CNTSPCS"  E6;
IO_PORT "CNTSPCS"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "CNT_TX"  A3;
IO_PORT "CNT_TX"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "C_DONE"  P13;
IO_PORT "C_DONE"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "ENET_RST_N"  A2;
IO_PORT "ENET_RST_N"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "GDT_OT[0]"  R5;
IO_PORT "GDT_OT[0]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "GDT_OT[9]"  V11;
IO_PORT "GDT_OT[9]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "GDT_OT[10]"  R10;
IO_PORT "GDT_OT[10]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "GDT_OT[11]"  V13;
IO_PORT "GDT_OT[11]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "GDT_OT[12]"  T10;
IO_PORT "GDT_OT[12]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "GDT_OT[13]"  V15;
IO_PORT "GDT_OT[13]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "GDT_OT[14]"  E7;
IO_PORT "GDT_OT[14]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "GDT_OT[15]"  U16;
IO_PORT "GDT_OT[15]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "GDT_OT[16]"  K4;
IO_PORT "GDT_OT[16]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "GDT_OT[17]"  K5;
IO_PORT "GDT_OT[17]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "GDT_OT[18]"  K6;
IO_PORT "GDT_OT[18]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "GDT_OT[1]"  V4;
IO_PORT "GDT_OT[1]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "GDT_OT[19]"  F2;
IO_PORT "GDT_OT[19]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "GDT_OT[20]"  H4;
IO_PORT "GDT_OT[20]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "GDT_OT[21]"  F4;
IO_PORT "GDT_OT[21]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "GDT_OT[22]"  F5;
IO_PORT "GDT_OT[22]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "GDT_OT[23]"  B4;
IO_PORT "GDT_OT[23]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "GDT_OT[24]"  C5;
IO_PORT "GDT_OT[24]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "GDT_OT[25]"  A6;
IO_PORT "GDT_OT[25]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "GDT_OT[26]"  D8;
IO_PORT "GDT_OT[26]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "GDT_OT[27]"  B8;
IO_PORT "GDT_OT[27]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "GDT_OT[28]"  C9;
IO_PORT "GDT_OT[28]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "GDT_OT[2]"  P7;
IO_PORT "GDT_OT[2]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "GDT_OT[29]"  F10;
IO_PORT "GDT_OT[29]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "GDT_OT[30]"  B11;
IO_PORT "GDT_OT[30]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "GDT_OT[31]"  B12;
IO_PORT "GDT_OT[31]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "GDT_OT[3]"  V6;
IO_PORT "GDT_OT[3]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "GDT_OT[4]"  R7;
IO_PORT "GDT_OT[4]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "GDT_OT[5]"  U8;
IO_PORT "GDT_OT[5]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "GDT_OT[6]"  T8;
IO_PORT "GDT_OT[6]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "GDT_OT[7]"  T9;
IO_PORT "GDT_OT[7]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "GDT_OT[8]"  M10;
IO_PORT "GDT_OT[8]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "LED1_A"  L3;
IO_PORT "LED1_A"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "LED1_B"  M5;
IO_PORT "LED1_B"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MODE2"  N12;
IO_PORT "MODE2"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_A[0]"  K17;
IO_PORT "MEM_A[0]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_A[10]"  K18;
IO_PORT "MEM_A[10]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_A[1]"  L18;
IO_PORT "MEM_A[1]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_A[2]"  L17;
IO_PORT "MEM_A[2]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_A[3]"  L12;
IO_PORT "MEM_A[3]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_A[4]"  L16;
IO_PORT "MEM_A[4]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_A[5]"  G16;
IO_PORT "MEM_A[5]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_A[6]"  K16;
IO_PORT "MEM_A[6]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_A[7]"  K14;
IO_PORT "MEM_A[7]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_A[8]"  K13;
IO_PORT "MEM_A[8]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_A[9]"  K12;
IO_PORT "MEM_A[9]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_BA[0]"  J18;
IO_PORT "MEM_BA[0]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_BA[1]"  J16;
IO_PORT "MEM_BA[1]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_CAS_N"  G18;
IO_PORT "MEM_CAS_N"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_CKE"  J13;
IO_PORT "MEM_CKE"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_CLK"  K15;
IO_PORT "MEM_CLK"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_CS_N"  H17;
IO_PORT "MEM_CS_N"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_D[0]"  C17;
IO_PORT "MEM_D[0]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_D[10]"  H12;
IO_PORT "MEM_D[10]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_D[11]"  H14;
IO_PORT "MEM_D[11]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_D[12]"  H13;
IO_PORT "MEM_D[12]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_D[13]"  F14;
IO_PORT "MEM_D[13]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_D[14]"  G14;
IO_PORT "MEM_D[14]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_D[15]"  G13;
IO_PORT "MEM_D[15]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_D[16]"  N18;
IO_PORT "MEM_D[16]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_D[17]"  N17;
IO_PORT "MEM_D[17]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_D[18]"  P18;
IO_PORT "MEM_D[18]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_D[19]"  P17;
IO_PORT "MEM_D[19]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_D[1]"  C18;
IO_PORT "MEM_D[1]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_D[20]"  T18;
IO_PORT "MEM_D[20]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_D[21]"  U18;
IO_PORT "MEM_D[21]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_D[22]"  T17;
IO_PORT "MEM_D[22]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_D[23]"  U17;
IO_PORT "MEM_D[23]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_D[24]"  M14;
IO_PORT "MEM_D[24]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_D[25]"  N14;
IO_PORT "MEM_D[25]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_D[26]"  N15;
IO_PORT "MEM_D[26]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_D[27]"  N16;
IO_PORT "MEM_D[27]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_D[28]"  M16;
IO_PORT "MEM_D[28]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_D[29]"  M13;
IO_PORT "MEM_D[29]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_D[2]"  D17;
IO_PORT "MEM_D[2]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_D[30]"  L14;
IO_PORT "MEM_D[30]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_D[31]"  L13;
IO_PORT "MEM_D[31]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_D[3]"  E16;
IO_PORT "MEM_D[3]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_D[4]"  D18;
IO_PORT "MEM_D[4]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_D[5]"  F16;
IO_PORT "MEM_D[5]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_D[6]"  E18;
IO_PORT "MEM_D[6]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_D[7]"  F15;
IO_PORT "MEM_D[7]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_D[8]"  H15;
IO_PORT "MEM_D[8]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_D[9]"  H16;
IO_PORT "MEM_D[9]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_DQM[0]"  F17;
IO_PORT "MEM_DQM[0]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_DQM[1]"  M18;
IO_PORT "MEM_DQM[1]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_DQM[2]"  P15;
IO_PORT "MEM_DQM[2]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_DQM[3]"  P16;
IO_PORT "MEM_DQM[3]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_RAS_N"  H18;
IO_PORT "MEM_RAS_N"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "MEM_WE_N"  F18;
IO_PORT "MEM_WE_N"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "RDT_OT[0]"  N6;
IO_PORT "RDT_OT[0]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "RDT_OT[9]"  F8;
IO_PORT "RDT_OT[9]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "RDT_OT[10]"  U11;
IO_PORT "RDT_OT[10]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "RDT_OT[11]"  N11;
IO_PORT "RDT_OT[11]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "RDT_OT[12]"  G8;
IO_PORT "RDT_OT[12]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "RDT_OT[13]"  R11;
IO_PORT "RDT_OT[13]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "RDT_OT[14]"  U15;
IO_PORT "RDT_OT[14]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "RDT_OT[15]"  T12;
IO_PORT "RDT_OT[15]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "RDT_OT[16]"  N3;
IO_PORT "RDT_OT[16]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "RDT_OT[17]"  L7;
IO_PORT "RDT_OT[17]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "RDT_OT[18]"  J6;
IO_PORT "RDT_OT[18]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "RDT_OT[1]"  T5;
IO_PORT "RDT_OT[1]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "RDT_OT[19]"  J7;
IO_PORT "RDT_OT[19]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "RDT_OT[20]"  G6;
IO_PORT "RDT_OT[20]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "RDT_OT[21]"  H7;
IO_PORT "RDT_OT[21]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "RDT_OT[22]"  E4;
IO_PORT "RDT_OT[22]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "RDT_OT[23]"  E3;
IO_PORT "RDT_OT[23]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "RDT_OT[24]"  A5;
IO_PORT "RDT_OT[24]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "RDT_OT[25]"  C6;
IO_PORT "RDT_OT[25]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "RDT_OT[26]"  C7;
IO_PORT "RDT_OT[26]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "RDT_OT[27]"  C8;
IO_PORT "RDT_OT[27]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "RDT_OT[28]"  A8;
IO_PORT "RDT_OT[28]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "RDT_OT[2]"  U5;
IO_PORT "RDT_OT[2]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "RDT_OT[29]"  F9;
IO_PORT "RDT_OT[29]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "RDT_OT[30]"  A10;
IO_PORT "RDT_OT[30]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "RDT_OT[31]"  A11;
IO_PORT "RDT_OT[31]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "RDT_OT[3]"  N8;
IO_PORT "RDT_OT[3]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "RDT_OT[4]"  U7;
IO_PORT "RDT_OT[4]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "RDT_OT[5]"  T7;
IO_PORT "RDT_OT[5]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "RDT_OT[6]"  F7;
IO_PORT "RDT_OT[6]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "RDT_OT[7]"  M8;
IO_PORT "RDT_OT[7]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "RDT_OT[8]"  V10;
IO_PORT "RDT_OT[8]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "READY"  U3;
IO_PORT "READY"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "RECONF_N"  V2;
IO_PORT "RECONF_N"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "PA_RXD[0]"  J1;
IO_PORT "PA_RXD[0]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "PB_RXD[0]"  N4;
IO_PORT "PB_RXD[0]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "PA_RXD[1]"  H1;
IO_PORT "PA_RXD[1]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "PB_RXD[1]"  N1;
IO_PORT "PB_RXD[1]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "PA_RXD[2]"  H2;
IO_PORT "PA_RXD[2]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "PB_RXD[2]"  N2;
IO_PORT "PB_RXD[2]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "PA_RXD[3]"  G3;
IO_PORT "PA_RXD[3]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "PB_RXD[3]"  M3;
IO_PORT "PB_RXD[3]"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "PA_RX_DV"  G1;
IO_PORT "PA_RX_DV"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "PB_RX_DV"  P1;
IO_PORT "PB_RX_DV"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "PA_RX_CLK"  D9;
IO_PORT "PA_RX_CLK"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "PB_RX_CLK"  L5;
IO_PORT "PB_RX_CLK"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "ISP_CK"  R15;
IO_PORT "ISP_CK"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "ISP_CS"  V3;
IO_PORT "ISP_CS"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "ISP_Q"  R13;
IO_PORT "ISP_Q"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "ISP_D"  T13;
IO_PORT "ISP_D"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "ISP_WE#"  V8;
IO_PORT "ISP_WE#"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
IO_LOC  "XCLK_IN"  T14;
IO_PORT "XCLK_IN"  IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8;
