############################################################################
##  LEAP Mini  Receiver BD
##  Pin compile  Test : 
##  June 21, 2017    Fung    Watanabe
############################################################################
############################################################################
##  Dec 1, 2017    Fung
##  Nov 1, 2018	 Fung		30 set RGB signals
NET "GCLK"  LOC = "T4" | IOSTANDARD = LVTTL ; #GCLK
NET "DCLK"  LOC = "T1" | IOSTANDARD = LVTTL ; #DCLK
NET "LAT"  LOC = "P2" | IOSTANDARD = LVTTL ; #LAT
NET "RDT_OT<0>"  LOC = "N6" | IOSTANDARD = LVTTL ; #R1
NET "RDT_OT<1>"  LOC = "T5" | IOSTANDARD = LVTTL ; #R2
NET "RDT_OT<2>"  LOC = "U5" | IOSTANDARD = LVTTL ; #R3
NET "RDT_OT<3>"  LOC = "N8" | IOSTANDARD = LVTTL ; #R4
NET "RDT_OT<4>"  LOC = "U7" | IOSTANDARD = LVTTL ; #R5
NET "RDT_OT<5>"  LOC = "T7" | IOSTANDARD = LVTTL ; #R6
NET "RDT_OT<6>"  LOC = "V8" | IOSTANDARD = LVTTL ; #R7
NET "RDT_OT<7>"  LOC = "M8" | IOSTANDARD = LVTTL ; #R8
NET "RDT_OT<8>"  LOC = "V10" | IOSTANDARD = LVTTL ; #R9
NET "RDT_OT<9>"  LOC = "M11" | IOSTANDARD = LVTTL ; #R10
NET "RDT_OT<10>"  LOC = "U11" | IOSTANDARD = LVTTL ; #R11
NET "RDT_OT<11>"  LOC = "N11" | IOSTANDARD = LVTTL ; #R12
NET "RDT_OT<12>"  LOC = "U13" | IOSTANDARD = LVTTL ; #R13
NET "RDT_OT<13>"  LOC = "R11" | IOSTANDARD = LVTTL ; #R14
NET "RDT_OT<14>"  LOC = "U15" | IOSTANDARD = LVTTL ; #R15
NET "RDT_OT<15>"  LOC = "T12" | IOSTANDARD = LVTTL ; #R16
NET "RDT_OT<16>"  LOC = "N3" | IOSTANDARD = LVTTL ; #R17
NET "RDT_OT<17>"  LOC = "L7" | IOSTANDARD = LVTTL ; #R18
NET "RDT_OT<18>"  LOC = "J6" | IOSTANDARD = LVTTL ; #R19
NET "RDT_OT<19>"  LOC = "J7" | IOSTANDARD = LVTTL ; #R20
NET "RDT_OT<20>"  LOC = "G6" | IOSTANDARD = LVTTL ; #R21
NET "RDT_OT<21>"  LOC = "H7" | IOSTANDARD = LVTTL ; #R22
NET "RDT_OT<22>"  LOC = "E4" | IOSTANDARD = LVTTL ; #R23
NET "RDT_OT<23>"  LOC = "E3" | IOSTANDARD = LVTTL ; #R24
NET "RDT_OT<24>"  LOC = "A5" | IOSTANDARD = LVTTL ; #R25
NET "RDT_OT<25>"  LOC = "C6" | IOSTANDARD = LVTTL ; #R26
NET "RDT_OT<26>"  LOC = "C7" | IOSTANDARD = LVTTL ; #R27
NET "RDT_OT<27>"  LOC = "C8" | IOSTANDARD = LVTTL ; #R28
NET "RDT_OT<28>"  LOC = "A8" | IOSTANDARD = LVTTL ; #R29
NET "RDT_OT<29>"  LOC = "F9" | IOSTANDARD = LVTTL ; #R30
NET "GDT_OT<0>"  LOC = "R5" | IOSTANDARD = LVTTL ; #G1
NET "GDT_OT<1>"  LOC = "V4" | IOSTANDARD = LVTTL ; #G2
NET "GDT_OT<2>"  LOC = "P7" | IOSTANDARD = LVTTL ; #G3
NET "GDT_OT<3>"  LOC = "V6" | IOSTANDARD = LVTTL ; #G4
NET "GDT_OT<4>"  LOC = "R7" | IOSTANDARD = LVTTL ; #G5
NET "GDT_OT<5>"  LOC = "U8" | IOSTANDARD = LVTTL ; #G6
NET "GDT_OT<6>"  LOC = "T8" | IOSTANDARD = LVTTL ; #G7
NET "GDT_OT<7>"  LOC = "T9" | IOSTANDARD = LVTTL ; #G8
NET "GDT_OT<8>"  LOC = "M10" | IOSTANDARD = LVTTL ; #G9
NET "GDT_OT<9>"  LOC = "V11" | IOSTANDARD = LVTTL ; #G10
NET "GDT_OT<10>"  LOC = "R10" | IOSTANDARD = LVTTL ; #G11
NET "GDT_OT<11>"  LOC = "V13" | IOSTANDARD = LVTTL ; #G12
NET "GDT_OT<12>"  LOC = "T10" | IOSTANDARD = LVTTL ; #G13
NET "GDT_OT<13>"  LOC = "V15" | IOSTANDARD = LVTTL ; #G14
NET "GDT_OT<14>"  LOC = "P12" | IOSTANDARD = LVTTL ; #G15
NET "GDT_OT<15>"  LOC = "U16" | IOSTANDARD = LVTTL ; #G16
NET "GDT_OT<16>"  LOC = "K4" | IOSTANDARD = LVTTL ; #G17
NET "GDT_OT<17>"  LOC = "K5" | IOSTANDARD = LVTTL ; #G18
NET "GDT_OT<18>"  LOC = "K6" | IOSTANDARD = LVTTL ; #G19
NET "GDT_OT<19>"  LOC = "F2" | IOSTANDARD = LVTTL ; #G20
NET "GDT_OT<20>"  LOC = "H4" | IOSTANDARD = LVTTL ; #G21
NET "GDT_OT<21>"  LOC = "F4" | IOSTANDARD = LVTTL ; #G22
NET "GDT_OT<22>"  LOC = "F5" | IOSTANDARD = LVTTL ; #G23
NET "GDT_OT<23>"  LOC = "B4" | IOSTANDARD = LVTTL ; #G24
NET "GDT_OT<24>"  LOC = "C5" | IOSTANDARD = LVTTL ; #G25
NET "GDT_OT<25>"  LOC = "A6" | IOSTANDARD = LVTTL ; #G26
NET "GDT_OT<26>"  LOC = "D8" | IOSTANDARD = LVTTL ; #G27
NET "GDT_OT<27>"  LOC = "B8" | IOSTANDARD = LVTTL ; #G28
NET "GDT_OT<28>"  LOC = "C9" | IOSTANDARD = LVTTL ; #G29
NET "GDT_OT<29>"  LOC = "A9" | IOSTANDARD = LVTTL ; #G30
NET "BDT_OT<0>"  LOC = "N7" | IOSTANDARD = LVTTL ; #B1
NET "BDT_OT<1>"  LOC = "T6" | IOSTANDARD = LVTTL ; #B2
NET "BDT_OT<2>"  LOC = "V5" | IOSTANDARD = LVTTL ; #B3
NET "BDT_OT<3>"  LOC = "P8" | IOSTANDARD = LVTTL ; #B4
NET "BDT_OT<4>"  LOC = "V7" | IOSTANDARD = LVTTL ; #B5
NET "BDT_OT<5>"  LOC = "R8" | IOSTANDARD = LVTTL ; #B6
NET "BDT_OT<6>"  LOC = "V9" | IOSTANDARD = LVTTL ; #B7
NET "BDT_OT<7>"  LOC = "N9" | IOSTANDARD = LVTTL ; #B8
NET "BDT_OT<8>"  LOC = "U10" | IOSTANDARD = LVTTL ; #B9
NET "BDT_OT<9>"  LOC = "N10" | IOSTANDARD = LVTTL ; #B10
NET "BDT_OT<10>"  LOC = "V12" | IOSTANDARD = LVTTL ; #B11
NET "BDT_OT<11>"  LOC = "P11" | IOSTANDARD = LVTTL ; #B12
NET "BDT_OT<12>"  LOC = "V14" | IOSTANDARD = LVTTL ; #B13
NET "BDT_OT<13>"  LOC = "T11" | IOSTANDARD = LVTTL ; #B14
NET "BDT_OT<14>"  LOC = "V16" | IOSTANDARD = LVTTL ; #B15
NET "BDT_OT<15>"  LOC = "T14" | IOSTANDARD = LVTTL ; #B16
NET "BDT_OT<16>"  LOC = "L4" | IOSTANDARD = LVTTL ; #B17
NET "BDT_OT<17>"  LOC = "L6" | IOSTANDARD = LVTTL ; #B18
NET "BDT_OT<18>"  LOC = "H6" | IOSTANDARD = LVTTL ; #B19
NET "BDT_OT<19>"  LOC = "H5" | IOSTANDARD = LVTTL ; #B20
NET "BDT_OT<20>"  LOC = "F6" | IOSTANDARD = LVTTL ; #B21
NET "BDT_OT<21>"  LOC = "F3" | IOSTANDARD = LVTTL ; #B22
NET "BDT_OT<22>"  LOC = "C4" | IOSTANDARD = LVTTL ; #B23
NET "BDT_OT<23>"  LOC = "D3" | IOSTANDARD = LVTTL ; #B24
NET "BDT_OT<24>"  LOC = "B6" | IOSTANDARD = LVTTL ; #B25
NET "BDT_OT<25>"  LOC = "D6" | IOSTANDARD = LVTTL ; #B26
NET "BDT_OT<26>"  LOC = "A7" | IOSTANDARD = LVTTL ; #B27
NET "BDT_OT<27>"  LOC = "B9" | IOSTANDARD = LVTTL ; #B28
NET "BDT_OT<28>"  LOC = "D9" | IOSTANDARD = LVTTL ; #B29
NET "BDT_OT<29>"  LOC = "C10" | IOSTANDARD = LVTTL ; #B30
//NET "BDT_OT<29>"  LOC = "D14" | IOSTANDARD = LVTTL ; #B30, CN1_PFU13
NET "ABE_OT<0>"  LOC = "U1" | IOSTANDARD = LVTTL ; #A
NET "ABE_OT<1>"  LOC = "T2" | IOSTANDARD = LVTTL ; #B
NET "ABE_OT<2>"  LOC = "U2" | IOSTANDARD = LVTTL ; #C
NET "ABE_OT<3>"  LOC = "R3" | IOSTANDARD = LVTTL ; #D
NET "ABE_OT<4>"  LOC = "T3" | IOSTANDARD = LVTTL ; #E
############################################################################
#NET "PFU_OT<1>"  LOC = "C13" | IOSTANDARD = LVTTL ; #PFU1
#NET "PFU_OT<2>"  LOC = "A14" | IOSTANDARD = LVTTL ; #PFU2
#NET "PFU_OT<3>"  LOC = "A12" | IOSTANDARD = LVTTL ; #PFU3
#NET "PFU_OT<4>"  LOC = "R15" | IOSTANDARD = LVTTL ; #PFU4
#NET "PFU_OT<5>"  LOC = "E13" | IOSTANDARD = LVTTL ; #PFU5
#NET "PFU_OT<6>"  LOC = "F13" | IOSTANDARD = LVTTL ; #PFU6
#NET "PFU_OT<7>"  LOC = "A13" | IOSTANDARD = LVTTL ; #PFU7
#NET "PFU_OT<8>"  LOC = "B14" | IOSTANDARD = LVTTL ; #PFU8
#NET "PFU_OT<9>"  LOC = "D4" | IOSTANDARD = LVTTL ; #PFU9
#NET "PFU_OT<10>"  LOC = "G9" | IOSTANDARD = LVTTL ; #PFU10
#NET "PFU_OT<11>"  LOC = "C14" | IOSTANDARD = LVTTL ; #PFU11
#NET "PFU_OT<12>"  LOC = "P16" | IOSTANDARD = LVTTL ; #PFU12
#NET "PFU_OT<13>"  LOC = "D14" | IOSTANDARD = LVTTL ; #PFU13
#NET "PFU_OT<14>"  LOC = "C15" | IOSTANDARD = LVTTL ; #PFU14
#NET "PFU_OT<15>"  LOC = "A15" | IOSTANDARD = LVTTL ; #PFU15
#NET "PFU_OT<16>"  LOC = "B16" | IOSTANDARD = LVTTL ; #PFU16
#NET "PFU_OT<17>"  LOC = "A16" | IOSTANDARD = LVTTL ; #PFU17
#NET "PFU_OT<18>"  LOC = "P15" | IOSTANDARD = LVTTL ; #PFU18
##################  20180327  IM UART   Watanabe
NET "IMCODE<3>"  LOC = "D4" | IOSTANDARD = LVTTL ; #PFU9
NET "IMCODE<2>"  LOC = "A13" | IOSTANDARD = LVTTL ; #PFU7
NET "IMCODE<1>"  LOC = "E13" | IOSTANDARD = LVTTL ; #PFU5
NET "IMCODE<0>"  LOC = "A12" | IOSTANDARD = LVTTL ; #PFU3
NET "TX_PF8U"  LOC = "B14" | IOSTANDARD = LVTTL ; #PFU8
NET "RX_PF10U"  LOC = "G9" | IOSTANDARD = LVTTL ; #PFU10
###################  20171226  UART TEST Watanabe
NET "CNTSPCS"  LOC = "A4" |IOSTANDARD = LVTTL ; #H -- L  Tx START
NET "PA_RX_CLK"  LOC = "H3" |IOSTANDARD = LVTTL ; #RX_CLKA125M
NET "PA_RX_DV"  LOC = "G1" |IOSTANDARD = LVTTL ; #RXDVA_250M
NET "PA_RXD<0>"  LOC = "J1" |IOSTANDARD = LVTTL ; #RXD0A_250M
NET "PA_RXD<1>"  LOC = "H2" |IOSTANDARD = LVTTL ; #RXD1A_250M
NET "PA_RXD<2>"  LOC = "H1" |IOSTANDARD = LVTTL ; #RXD2A_250M
NET "PA_RXD<3>"  LOC = "G3" |IOSTANDARD = LVTTL ; #RXD3A_250M
NET "PA_LED2"  LOC = "M5" |IOSTANDARD = LVTTL ; #LED1_A
NET "PA_GTX_CLK"  LOC = "E1" |IOSTANDARD = LVTTL |SLEW = "FAST" ;
NET "PA_TX_EN"  LOC = "F1" |IOSTANDARD = LVTTL |SLEW = "FAST" ;
NET "PA_TXD<0>"  LOC = "D1" |IOSTANDARD = LVTTL |SLEW = "FAST" ;
NET "PA_TXD<1>"  LOC = "D2" |IOSTANDARD = LVTTL |SLEW = "FAST" ;
NET "PA_TXD<2>"  LOC = "C1" |IOSTANDARD = LVTTL |SLEW = "FAST" ;
NET "PA_TXD<3>"  LOC = "C2" |IOSTANDARD = LVTTL |SLEW = "FAST" ;


NET "PB_RX_CLK"  LOC = "L5" |IOSTANDARD = LVTTL ; #RX_CLKB125M
NET "PB_RX_DV"  LOC = "P1" |IOSTANDARD = LVTTL ; #RXDVB_250M
NET "PB_RXD<0>"  LOC = "N4" |IOSTANDARD = LVTTL ; #RXD0B_250M
NET "PB_RXD<1>"  LOC = "N1" |IOSTANDARD = LVTTL ; #RXD1B_250M
NET "PB_RXD<2>"  LOC = "N2" |IOSTANDARD = LVTTL ; #RXD2B_250M
NET "PB_RXD<3>"  LOC = "M3" |IOSTANDARD = LVTTL ; #RXD3B_250M
NET "PB_LED2"  LOC = "L3" |IOSTANDARD = LVTTL ; #LED1_B
NET "PB_GTX_CLK"  LOC = "L2" |IOSTANDARD = LVTTL |SLEW = "FAST" ;
NET "PB_TX_EN"  LOC = "M1" |IOSTANDARD = LVTTL |SLEW = "FAST" ;
NET "PB_TXD<0>"  LOC = "L1" |IOSTANDARD = LVTTL |SLEW = "FAST" ;
NET "PB_TXD<1>"  LOC = "K2" |IOSTANDARD = LVTTL |SLEW = "FAST" ;
NET "PB_TXD<2>"  LOC = "K1" |IOSTANDARD = LVTTL |SLEW = "FAST" ;
NET "PB_TXD<3>"  LOC = "J3" |IOSTANDARD = LVTTL |SLEW = "FAST" ;


NET "MEM_A<0>"  LOC = "K17" |IOSTANDARD = LVTTL ; #RAM0_150M
NET "MEM_A<1>"  LOC = "L18" |IOSTANDARD = LVTTL ; #RAM1_150M
NET "MEM_A<2>"  LOC = "L17" |IOSTANDARD = LVTTL ; #RAM2_150M
NET "MEM_A<3>"  LOC = "L12" |IOSTANDARD = LVTTL ; #RAM3_150M
NET "MEM_A<4>"  LOC = "L16" |IOSTANDARD = LVTTL ; #RAM4_150M
NET "MEM_A<5>"  LOC = "L15" |IOSTANDARD = LVTTL ; #RAM5_150M
NET "MEM_A<6>"  LOC = "K15" |IOSTANDARD = LVTTL ; #RAM6_150M
NET "MEM_A<7>"  LOC = "K14" |IOSTANDARD = LVTTL ; #RAM7_150M
NET "MEM_A<8>"  LOC = "K13" |IOSTANDARD = LVTTL ; #RAM8_150M
NET "MEM_A<9>"  LOC = "K12" |IOSTANDARD = LVTTL ; #RAM9_150M
NET "MEM_A<10>"  LOC = "K18" |IOSTANDARD = LVTTL ; #RAM10_150M
NET "MEM_BA<0>"  LOC = "J18" |IOSTANDARD = LVTTL ; #RAM11_150M
NET "MEM_BA<1>"  LOC = "J16" |IOSTANDARD = LVTTL ; #RAM12_150M
NET "MEM_CS_N"  LOC = "H17" |IOSTANDARD = LVTTL ; #RAM_CSN_150M
NET "MEM_RAS_N"  LOC = "H18" |IOSTANDARD = LVTTL ; #RAM_RASN_150M
NET "MEM_CAS_N"  LOC = "G18" |IOSTANDARD = LVTTL ; #RAM_CASN_150M
NET "MEM_WE_N"  LOC = "F18" |IOSTANDARD = LVTTL ; #RAM_WEN_150M
NET "MEM_DQM<0>"  LOC = "F17" |IOSTANDARD = LVTTL ; #RAMDM0_150M
NET "MEM_DQM<1>"  LOC = "M18" |IOSTANDARD = LVTTL ; #RAMDM1_150M
NET "MEM_CKE"  LOC = "J13" |IOSTANDARD = LVTTL ; #RAMCKE_150M
NET "MEM_D<0>"  LOC = "C17" |IOSTANDARD = LVTTL  |PULLUP ; #RAMD0_150M
NET "MEM_D<1>"  LOC = "C18" |IOSTANDARD = LVTTL  |PULLUP ; #RAMD1_150M
NET "MEM_D<2>"  LOC = "D17" |IOSTANDARD = LVTTL  |PULLUP ; #RAMD2_150M
NET "MEM_D<3>"  LOC = "E16" |IOSTANDARD = LVTTL  |PULLUP ; #RAMD3_150M
NET "MEM_D<4>"  LOC = "D18" |IOSTANDARD = LVTTL  |PULLUP ; #RAMD4_150M
NET "MEM_D<5>"  LOC = "F16" |IOSTANDARD = LVTTL  |PULLUP ; #RAMD5_150M
NET "MEM_D<6>"  LOC = "E18" |IOSTANDARD = LVTTL  |PULLUP ; #RAMD6_150M
NET "MEM_D<7>"  LOC = "F15" |IOSTANDARD = LVTTL  |PULLUP ; #RAMD7_150M
NET "MEM_D<8>"  LOC = "H15" |IOSTANDARD = LVTTL  |PULLUP ; #RAMD8_150M
NET "MEM_D<9>"  LOC = "H16" |IOSTANDARD = LVTTL  |PULLUP ; #RAMD9_150M
NET "MEM_D<10>"  LOC = "H12" |IOSTANDARD = LVTTL  |PULLUP ; #RAMD10_150M
NET "MEM_D<11>"  LOC = "H14" |IOSTANDARD = LVTTL  |PULLUP ; #RAMD11_150M
NET "MEM_D<12>"  LOC = "H13" |IOSTANDARD = LVTTL  |PULLUP ; #RAMD12_150M
NET "MEM_D<13>"  LOC = "F14" |IOSTANDARD = LVTTL  |PULLUP ; #RAMD13_150M
NET "MEM_D<14>"  LOC = "G14" |IOSTANDARD = LVTTL  |PULLUP ; #RAMD14_150M
NET "MEM_D<15>"  LOC = "G13" |IOSTANDARD = LVTTL  |PULLUP ; #RAMD15_150M
NET "MEM_D<16>"  LOC = "N18" |IOSTANDARD = LVTTL  |PULLUP ; #RAMD16_150M
NET "MEM_D<17>"  LOC = "N17" |IOSTANDARD = LVTTL  |PULLUP ; #RAMD17_150M
NET "MEM_D<18>"  LOC = "P18" |IOSTANDARD = LVTTL  |PULLUP ; #RAMD18_150M
NET "MEM_D<19>"  LOC = "P17" |IOSTANDARD = LVTTL  |PULLUP ; #RAMD19_150M
NET "MEM_D<20>"  LOC = "T18" |IOSTANDARD = LVTTL  |PULLUP ; #RAMD20_150M
NET "MEM_D<21>"  LOC = "U18" |IOSTANDARD = LVTTL  |PULLUP ; #RAMD21_150M
NET "MEM_D<22>"  LOC = "T17" |IOSTANDARD = LVTTL  |PULLUP ; #RAMD22_150M
NET "MEM_D<23>"  LOC = "U17" |IOSTANDARD = LVTTL  |PULLUP ; #RAMD23_150M
NET "MEM_D<24>"  LOC = "M14" |IOSTANDARD = LVTTL  |PULLUP ; #RAMD24_150M
NET "MEM_D<25>"  LOC = "N14" |IOSTANDARD = LVTTL  |PULLUP ; #RAMD25_150M
NET "MEM_D<26>"  LOC = "N15" |IOSTANDARD = LVTTL  |PULLUP ; #RAMD26_150M
NET "MEM_D<27>"  LOC = "N16" |IOSTANDARD = LVTTL  |PULLUP ; #RAMD27_150M
NET "MEM_D<28>"  LOC = "M16" |IOSTANDARD = LVTTL  |PULLUP ; #RAMD28_150M
NET "MEM_D<29>"  LOC = "M13" |IOSTANDARD = LVTTL  |PULLUP ; #RAMD29_150M
NET "MEM_D<30>"  LOC = "L14" |IOSTANDARD = LVTTL  |PULLUP ; #RAMD30_150M
NET "MEM_D<31>"  LOC = "L13" |IOSTANDARD = LVTTL  |PULLUP ; #RAMD31_150M
NET "MEM_CLKO"  LOC = "G16" |IOSTANDARD = LVTTL |SLEW = "FAST" |DRIVE = 24; #RAMCLKO_150M
#NET "MEM_CLKI"  LOC = "K16" | IOSTANDARD = LVTTL ; #RAMCLKI_150M
#NET "CTRL_OT"  LOC = "P3" |IOSTANDARD = LVTTL ; #CTRL

##################  20181012  DUAL  Watanabe
NET "MASTER"    LOC = "A16" |IOSTANDARD = LVTTL  |PULLUP ; #1:DUAL Master BD
NET "MS_DATA"   LOC = "A15" |IOSTANDARD = LVTTL          ; #1:Master BD Drive
//NET "SLVDRVIO"  LOC = "C10" |IOSTANDARD = LVTTL  |PULLUP ; #1pos:Slave Cheng Timing
NET "SLVDRVIO"  LOC = "D14" |IOSTANDARD = LVTTL  |PULLUP ; #1pos:Slave Cheng Timing, PFU13

#NET "OE_RGB<0>"  LOC = "P6" | IOSTANDARD = LVTTL ; #OE_B
#NET "OE_RGB<1>"  LOC = "N5" | IOSTANDARD = LVTTL ; #OE_G
#NET "OE_RGB<2>"  LOC = "T4" | IOSTANDARD = LVTTL ; #OE_R
#NET "ABE_OT<0>"  LOC = "U1" | IOSTANDARD = LVTTL ; #A
#NET "ABE_OT<1>"  LOC = "T2" | IOSTANDARD = LVTTL ; #B
#NET "ABE_OT<2>"  LOC = "U2" | IOSTANDARD = LVTTL ; #C
#NET "ABE_OT<3>"  LOC = "R3" | IOSTANDARD = LVTTL ; #D
#NET "ABE_OT<4>"  LOC = "T3" | IOSTANDARD = LVTTL ; #E
#NET "DCLK_OT<0>"  LOC = "T1" | IOSTANDARD = LVTTL ; #DCLK
#NET "DCLK_OT<1>"  LOC = "P4" | IOSTANDARD = LVTTL ; #DCLK2

#NET "RDT_OT<1>"  LOC = "N6" | IOSTANDARD = LVTTL ; #R1
#NET "RDT_OT<2>"  LOC = "T5" | IOSTANDARD = LVTTL ; #R2
#NET "RDT_OT<3>"  LOC = "U5" | IOSTANDARD = LVTTL ; #R3
#NET "RDT_OT<4>"  LOC = "N8" | IOSTANDARD = LVTTL ; #R4
#NET "RDT_OT<5>"  LOC = "U7" | IOSTANDARD = LVTTL ; #R5
#NET "RDT_OT<6>"  LOC = "T7" | IOSTANDARD = LVTTL ; #R6
#NET "RDT_OT<7>"  LOC = "V8" | IOSTANDARD = LVTTL ; #R7
#NET "RDT_OT<8>"  LOC = "M8" | IOSTANDARD = LVTTL ; #R8
#NET "RDT_OT<9>"  LOC = "V10" | IOSTANDARD = LVTTL ; #R9
#NET "RDT_OT<10>"  LOC = "M11" | IOSTANDARD = LVTTL ; #R10
#NET "RDT_OT<11>"  LOC = "U11" | IOSTANDARD = LVTTL ; #R11
#NET "RDT_OT<12>"  LOC = "N11" | IOSTANDARD = LVTTL ; #R12
#NET "RDT_OT<13>"  LOC = "U13" | IOSTANDARD = LVTTL ; #R13
#NET "RDT_OT<14>"  LOC = "R11" | IOSTANDARD = LVTTL ; #R14
#NET "RDT_OT<15>"  LOC = "U15" | IOSTANDARD = LVTTL ; #R15
#NET "RDT_OT<16>"  LOC = "T12" | IOSTANDARD = LVTTL ; #R16
#NET "RDT_OT<17>"  LOC = "N3" | IOSTANDARD = LVTTL ; #R17
#NET "RDT_OT<18>"  LOC = "L7" | IOSTANDARD = LVTTL ; #R18
#NET "RDT_OT<19>"  LOC = "J6" | IOSTANDARD = LVTTL ; #R19
#NET "RDT_OT<20>"  LOC = "J7" | IOSTANDARD = LVTTL ; #R20
#NET "RDT_OT<21>"  LOC = "G6" | IOSTANDARD = LVTTL ; #R21
#NET "RDT_OT<22>"  LOC = "H7" | IOSTANDARD = LVTTL ; #R22
#NET "RDT_OT<23>"  LOC = "E4" | IOSTANDARD = LVTTL ; #R23
#NET "RDT_OT<24>"  LOC = "E3" | IOSTANDARD = LVTTL ; #R24
#NET "RDT_OT<25>"  LOC = "A5" | IOSTANDARD = LVTTL ; #R25
#NET "RDT_OT<26>"  LOC = "C6" | IOSTANDARD = LVTTL ; #R26
#NET "RDT_OT<27>"  LOC = "C7" | IOSTANDARD = LVTTL ; #R27
#NET "RDT_OT<28>"  LOC = "C8" | IOSTANDARD = LVTTL ; #R28
#NET "RDT_OT<29>"  LOC = "A8" | IOSTANDARD = LVTTL ; #R29
#NET "RDT_OT<30>"  LOC = "F9" | IOSTANDARD = LVTTL ; #R30
#NET "RDT_OT<31>"  LOC = "A10" | IOSTANDARD = LVTTL ; #R31
#NET "RDT_OT<32>"  LOC = "A11" | IOSTANDARD = LVTTL ; #R32

#NET "GDT_OT<1>"  LOC = "R5" | IOSTANDARD = LVTTL ; #G1
#NET "GDT_OT<2>"  LOC = "V4" | IOSTANDARD = LVTTL ; #G2
#NET "GDT_OT<3>"  LOC = "P7" | IOSTANDARD = LVTTL ; #G3
#NET "GDT_OT<4>"  LOC = "V6" | IOSTANDARD = LVTTL ; #G4
#NET "GDT_OT<5>"  LOC = "R7" | IOSTANDARD = LVTTL ; #G5
#NET "GDT_OT<6>"  LOC = "U8" | IOSTANDARD = LVTTL ; #G6
#NET "GDT_OT<7>"  LOC = "T8" | IOSTANDARD = LVTTL ; #G7
#NET "GDT_OT<8>"  LOC = "T9" | IOSTANDARD = LVTTL ; #G8
#NET "GDT_OT<9>"  LOC = "M10" | IOSTANDARD = LVTTL ; #G9
#NET "GDT_OT<10>"  LOC = "V11" | IOSTANDARD = LVTTL ; #G10
#NET "GDT_OT<11>"  LOC = "R10" | IOSTANDARD = LVTTL ; #G11
#NET "GDT_OT<12>"  LOC = "V13" | IOSTANDARD = LVTTL ; #G12
#NET "GDT_OT<13>"  LOC = "T10" | IOSTANDARD = LVTTL ; #G13
#NET "GDT_OT<14>"  LOC = "V15" | IOSTANDARD = LVTTL ; #G14
#NET "GDT_OT<15>"  LOC = "P12" | IOSTANDARD = LVTTL ; #G15
#NET "GDT_OT<16>"  LOC = "U16" | IOSTANDARD = LVTTL ; #G16
#NET "GDT_OT<17>"  LOC = "K4" | IOSTANDARD = LVTTL ; #G17
#NET "GDT_OT<18>"  LOC = "K5" | IOSTANDARD = LVTTL ; #G18
#NET "GDT_OT<19>"  LOC = "K6" | IOSTANDARD = LVTTL ; #G19
#NET "GDT_OT<20>"  LOC = "F2" | IOSTANDARD = LVTTL ; #G20
#NET "GDT_OT<21>"  LOC = "H4" | IOSTANDARD = LVTTL ; #G21
#NET "GDT_OT<22>"  LOC = "F4" | IOSTANDARD = LVTTL ; #G22
#NET "GDT_OT<23>"  LOC = "F5" | IOSTANDARD = LVTTL ; #G23
#NET "GDT_OT<24>"  LOC = "B4" | IOSTANDARD = LVTTL ; #G24
#NET "GDT_OT<25>"  LOC = "C5" | IOSTANDARD = LVTTL ; #G25
#NET "GDT_OT<26>"  LOC = "A6" | IOSTANDARD = LVTTL ; #G26
#NET "GDT_OT<27>"  LOC = "D8" | IOSTANDARD = LVTTL ; #G27
#NET "GDT_OT<28>"  LOC = "B8" | IOSTANDARD = LVTTL ; #G28
#NET "GDT_OT<29>"  LOC = "C9" | IOSTANDARD = LVTTL ; #G29
#NET "GDT_OT<30>"  LOC = "A9" | IOSTANDARD = LVTTL ; #G30
#NET "GDT_OT<31>"  LOC = "B11" | IOSTANDARD = LVTTL ; #G31
#NET "GDT_OT<32>"  LOC = "B12" | IOSTANDARD = LVTTL ; #G32

#NET "BDT_OT<1>"  LOC = "N7" | IOSTANDARD = LVTTL ; #B1
#NET "BDT_OT<2>"  LOC = "T6" | IOSTANDARD = LVTTL ; #B2
#NET "BDT_OT<3>"  LOC = "V5" | IOSTANDARD = LVTTL ; #B3
#NET "BDT_OT<4>"  LOC = "P8" | IOSTANDARD = LVTTL ; #B4
#NET "BDT_OT<5>"  LOC = "V7" | IOSTANDARD = LVTTL ; #B5
#NET "BDT_OT<6>"  LOC = "R8" | IOSTANDARD = LVTTL ; #B6
#NET "BDT_OT<7>"  LOC = "V9" | IOSTANDARD = LVTTL ; #B7
#NET "BDT_OT<8>"  LOC = "N9" | IOSTANDARD = LVTTL ; #B8
#NET "BDT_OT<9>"  LOC = "U10" | IOSTANDARD = LVTTL ; #B9
#NET "BDT_OT<10>"  LOC = "N10" | IOSTANDARD = LVTTL ; #B10
#NET "BDT_OT<11>"  LOC = "V12" | IOSTANDARD = LVTTL ; #B11
#NET "BDT_OT<12>"  LOC = "P11" | IOSTANDARD = LVTTL ; #B12
#NET "BDT_OT<13>"  LOC = "V14" | IOSTANDARD = LVTTL ; #B13
#NET "BDT_OT<14>"  LOC = "T11" | IOSTANDARD = LVTTL ; #B14
#NET "BDT_OT<15>"  LOC = "V16" | IOSTANDARD = LVTTL ; #B15
#NET "BDT_OT<16>"  LOC = "T14" | IOSTANDARD = LVTTL ; #B16
#NET "BDT_OT<17>"  LOC = "L4" | IOSTANDARD = LVTTL ; #B17
#NET "BDT_OT<18>"  LOC = "L6" | IOSTANDARD = LVTTL ; #B18
#NET "BDT_OT<19>"  LOC = "H6" | IOSTANDARD = LVTTL ; #B19
#NET "BDT_OT<20>"  LOC = "H5" | IOSTANDARD = LVTTL ; #B20
#NET "BDT_OT<21>"  LOC = "F6" | IOSTANDARD = LVTTL ; #B21
#NET "BDT_OT<22>"  LOC = "F3" | IOSTANDARD = LVTTL ; #B22
#NET "BDT_OT<23>"  LOC = "C4" | IOSTANDARD = LVTTL ; #B23
#NET "BDT_OT<24>"  LOC = "D3" | IOSTANDARD = LVTTL ; #B24
#NET "BDT_OT<25>"  LOC = "B6" | IOSTANDARD = LVTTL ; #B25
#NET "BDT_OT<26>"  LOC = "D6" | IOSTANDARD = LVTTL ; #B26
#NET "BDT_OT<27>"  LOC = "A7" | IOSTANDARD = LVTTL ; #B27
#NET "BDT_OT<28>"  LOC = "B9" | IOSTANDARD = LVTTL ; #B28
#NET "BDT_OT<29>"  LOC = "D9" | IOSTANDARD = LVTTL ; #B29
#NET "BDT_OT<30>"  LOC = "C10" | IOSTANDARD = LVTTL ; #B30
#NET "BDT_OT<31>"  LOC = "C11" | IOSTANDARD = LVTTL ; #B31
#NET "BDT_OT<32>"  LOC = "D11" | IOSTANDARD = LVTTL ; #B32

#NET "RSV_OT<1>"  LOC = "B2" | IOSTANDARD = LVTTL ; #CN1_RSV1
#NET "RSV_OT<2>"  LOC = "E12" | IOSTANDARD = LVTTL ; #CN1_RSV2
#NET "RSV_OT<3>"  LOC = "D12" | IOSTANDARD = LVTTL ; #CN1_RSV3
#NET "RSV_OT<4>"  LOC = "E11" | IOSTANDARD = LVTTL ; #CN1_RSV4
#NET "RSV_OT<5>"  LOC = "C13" | IOSTANDARD = LVTTL ; #CN1_RSV5
#NET "RSV_OT<5>"  LOC = "F12" | IOSTANDARD = LVTTL ; #CN1_RSV5
#NET "RSV_OT<6>"  LOC = "C12" | IOSTANDARD = LVTTL ; #CN1_RSV6
#NET "RSV_OT<7>"  LOC = "T15" | IOSTANDARD = LVTTL ; #CN2_RSV1
#NET "RSV_OT<8>"  LOC = "V3" | IOSTANDARD = LVTTL ; #CN2_RSV2
#NET "RSV_OT<8>"  LOC = "U3" | IOSTANDARD = LVTTL ; #CN2_RSV2
############################################################################
###################TEST  2018.4.5  Watanabe
NET "ISP_CS"  LOC = "V3"  |IOSTANDARD = LVTTL ; #B5
NET "ISP_CK"  LOC = "R15" |IOSTANDARD = LVTTL ; #B11
NET "ISP_D"   LOC = "T13" |IOSTANDARD = LVTTL ; #B11
NET "ISP_Q"   LOC = "R13" |IOSTANDARD = LVTTL ; #B11
NET "PA_LED2"  LOC = "M5" |IOSTANDARD = LVTTL ; #B11
NET "PB_LED2"  LOC = "L3" |IOSTANDARD = LVTTL ; #B11
#NET "BDT_OT<5>"  LOC = "V7" | IOSTANDARD = LVTTL ; #B5
#NET "PA_LED1"  LOC = "L6" | IOSTANDARD = LVTTL ; #B11
#NET "PB_LED1"  LOC = "H5" | IOSTANDARD = LVTTL ; #B11
#NET "IO"  LOC = "F6" |IOSTANDARD = LVTTL ; #B21
#NET "IS1RANGE"  LOC = "F3" | IOSTANDARD = LVTTL ; #B22
############################################################################
NET "TH1"  LOC = "C12" |IOSTANDARD = LVTTL ; #CN1_RSV6
NET "TH2"  LOC = "E12" |IOSTANDARD = LVTTL ; #CN1_RSV2
############################################################################
NET "RESET_N"  LOC = "A2" |IOSTANDARD = LVTTL ;

NET "CNT_RX"  LOC = "B3" |IOSTANDARD = LVTTL ;
NET "CNT_TX"  LOC = "A3" |IOSTANDARD = LVTTL  ;
#NET "CNT_SPCS"  LOC = "A4" | IOSTANDARD = LVTTL ;

##  Watanabe  20170621
NET "XCLK_IN"  LOC = "K3" |IOSTANDARD = LVTTL ; #CLK25M
NET "CSN_PF6U"  LOC = "F13" | IOSTANDARD = LVTTL ; 
#NET "CLK_PF4U"  LOC = "R15" | IOSTANDARD = LVTTL ;
NET "XCLK_IN" TNM_NET = "XCLK_IN";
TIMESPEC TS_XCLK_IN = PERIOD "XCLK_IN" 40 ns HIGH 50%;
############################################################################
##  IM interface
#  OFFSET=OUT 8.0ns AFTER "CK60SP";
############################################################################
##  Giga Ether PHY
NET "PA_RX_CLK" TNM_NET = "PA_RX_CLK";
TIMESPEC "TS_PA_RX_CLK" = PERIOD "PA_RX_CLK" 8 ns HIGH 50 %;
NET "PB_RX_CLK" TNM_NET = "PB_RX_CLK";
TIMESPEC "TS_PB_RX_CLK" = PERIOD "PB_RX_CLK" 8 ns HIGH 50 %;

INST "PA_RXD<?>" TNM = PA_RX_RGMII;
INST "PA_RX_DV"  TNM = PA_RX_RGMII;
INST "PB_RXD<?>" TNM = PB_RX_RGMII;
INST "PB_RX_DV"  TNM = PB_RX_RGMII;
TIMEGRP "PA_RX_RGMII" OFFSET = IN 1.65 ns VALID 3.45 ns BEFORE "PA_RX_CLK" RISING;
TIMEGRP "PA_RX_RGMII" OFFSET = IN 1.65 ns VALID 3.45 ns BEFORE "PA_RX_CLK" FALLING;
TIMEGRP "PB_RX_RGMII" OFFSET = IN 1.65 ns VALID 3.45 ns BEFORE "PB_RX_CLK" RISING;
TIMEGRP "PB_RX_RGMII" OFFSET = IN 1.65 ns VALID 3.45 ns BEFORE "PB_RX_CLK" FALLING;
##  Giga Ether PHY
############################################################################
############################################################################
##  SDRAM  M12L64322A - 7
##  Input setup time tSS  2 ns
NET "MEM_A<?>" OFFSET=OUT 4.5ns AFTER "MEM_CLKO";
NET "MEM_BA<?>" OFFSET=OUT 4.5ns AFTER "MEM_CLKO";
NET "MEM_DQM<?>" OFFSET=OUT 4.5ns AFTER "MEM_CLKO";
NET "MEM_D<?>" OFFSET=OUT 4.5ns AFTER "MEM_CLKO";
NET "MEM_CS_N" OFFSET=OUT 4.5ns AFTER "MEM_CLKO";
NET "MEM_RAS_N" OFFSET=OUT 4.5ns AFTER "MEM_CLKO";
NET "MEM_CAS_N" OFFSET=OUT 4.5ns AFTER "MEM_CLKO";
NET "MEM_WE_N" OFFSET=OUT 4.5ns AFTER "MEM_CLKO";
NET "MEM_CKE" OFFSET=OUT 4.5ns AFTER "MEM_CLKO";

NET "MEM_D<?>" OFFSET=IN 0.65 ns VALID 2.65 ns BEFORE "MEM_CLKO" ;
##  SDRAM  M12L64322A - 7
############################################################################
# Timing Ignore (TIG)
NET "CLK25M" TNM_NET = FFS "GRP_CLK25M";
NET "CLK125M" TNM_NET = "GRP_CLK125M";
NET "CLK125M_TXC" TNM_NET = FFS "GRP_CLK125M_TXC";
#NET "SPRECK" TNM_NET = FFS "GRP_SPRECK";
#NET "CLK62M" TNM_NET = FFS "GRP_CLK62M";
NET "SPRECK" TNM_NET = "GRP_SPRECK";      #No FF
NET "CLK62M" TNM_NET = "GRP_CLK62M";      #No FF


TIMESPEC "TS_TIG1" = FROM "GRP_CLK25M" TO "GRP_CLK125M" TIG;
TIMESPEC "TS_TIG2" = FROM "GRP_CLK125M" TO "GRP_CLK25M" TIG;
TIMESPEC "TS_TIG3" = FROM "GRP_SPRECK" TO "GRP_CLK62M" TIG;
TIMESPEC "TS_TIG4" = FROM "GRP_CLK62M" TO "GRP_SPRECK" TIG;
TIMESPEC "TS_TIG5" = FROM "GRP_SPRECK" TO "GRP_CLK125M" TIG;
TIMESPEC "TS_TIG6" = FROM "GRP_CLK62M" TO "GRP_CLK125M" TIG;
TIMESPEC "TS_TIG7" = FROM "GRP_CLK125M" TO "GRP_CLK125M_TXC" TIG;
TIMESPEC "TS_TIG8" = FROM "GRP_CLK125M" TO "GRP_CLK62M" TIG;


NET "RCVCTRL_RDAT<?>" TIG;
#Created by Constraints Editor (xc6slx16-csg324-2) - 2018/01/29
INST "PA_GTX_CLK" TNM = PA_GTX;
INST "PA_TXD<0>" TNM = PA_GTX;
INST "PA_TXD<1>" TNM = PA_GTX;
INST "PA_TXD<2>" TNM = PA_GTX;
INST "PA_TXD<3>" TNM = PA_GTX;
INST "PA_TX_EN" TNM = PA_GTX;
#TIMEGRP "PA_GTX" OFFSET = OUT 2 ns AFTER "XCLK_IN" REFERENCE_PIN "PA_GTX_CLK" RISING;
#TIMEGRP "PA_GTX" OFFSET = OUT 2 ns AFTER "XCLK_IN" REFERENCE_PIN "PA_GTX_CLK" FALLING;
TIMEGRP "PA_GTX" OFFSET = OUT 15 ns AFTER "XCLK_IN" REFERENCE_PIN "PA_GTX_CLK" RISING;
TIMEGRP "PA_GTX" OFFSET = OUT 15 ns AFTER "XCLK_IN" REFERENCE_PIN "PA_GTX_CLK" FALLING;
INST "PB_GTX_CLK" TNM = PB_TXD;
INST "PB_TXD<0>" TNM = PB_TXD;
INST "PB_TXD<1>" TNM = PB_TXD;
INST "PB_TXD<2>" TNM = PB_TXD;
INST "PB_TXD<3>" TNM = PB_TXD;
INST "PB_TX_EN" TNM = PB_TXD;
#TIMEGRP "PB_TXD" OFFSET = OUT 2 ns AFTER "XCLK_IN" REFERENCE_PIN "PB_GTX_CLK" RISING;
#TIMEGRP "PB_TXD" OFFSET = OUT 2 ns AFTER "XCLK_IN" REFERENCE_PIN "PB_GTX_CLK" FALLING;
TIMEGRP "PB_TXD" OFFSET = OUT 15 ns AFTER "XCLK_IN" REFERENCE_PIN "PB_GTX_CLK" RISING;
TIMEGRP "PB_TXD" OFFSET = OUT 15 ns AFTER "XCLK_IN" REFERENCE_PIN "PB_GTX_CLK" FALLING;
